body {
  background-image: url('img/train.jpg');
}


table{
  box-shadow: -1px 12px 12px -6px rgba(0,0,0,0.5);
  background-color:  #5065a8;
}

table, td, th{
  padding: 20px;
  border: 1px solid lightgray;
  border-collapse: collapse ;
  text-align: center;
  cursor: pointer;
}

td{
  font-size: 17px;
}

.headeru{
  background-color: #1999E9;
  color: white;
}

tr:hover{
  background-color: gray;
  color: white;
  transform: scale(1.2);
  transition: transform 300ms ease-in;
}

